# Instascope Environmental Variables

# --- APP Settings ---
NODE_ENV=production
NEXT_PUBLIC_APP_URL=https://instascope.com.tr

# --- Cloudflare Tunnel Configuration ---
# Run 'cloudflared tunnel run <tunnel-name>' or use a token
# Enter the token here:
CLOUDFLARE_TUNNEL_TOKEN=your_tunnel_token_here